/*img:hover {

  /*webkit alters things on older browsers
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
*/



#container {
width: 600px;
height: 600px;
position: relative;
background: #4fdd4a;
}


#blue {
  display: flex;
  width: 42px;
  height: 42px;
  left: 30px;
  position: absolute;
}
